{% extends "base.html" %}

{% block login %}
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('about') }}">About Us</a></li>
    <li><a href="{{ url_for('therapy_team') }}">Therapy Team</a></li>
    <li><a href="{{ url_for('treatment_services') }}">Treatment Service</a></li>
    <li><a href="{{ url_for('rehabilitation_story') }}">Rehabilitation story</a></li>
    <li><a href="{{ url_for('retail_store') }}">Retail Store</a></li>
    <li><a href="{{ url_for('shopping_mall') }}">Online Shop</a></li>
    {% if username %}
        <li><a href="{{ url_for('personal_information') }}">{{ username }}</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    {% else %}
        <li><a href="{{ url_for('login') }}">Login/SignUp</a></li>
    {% endif %}

{% endblock %}

{% block mainContent %}
     <!-- start of hero -->
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/responsive.css') }}" rel="stylesheet">

    <section class="hero hero-slider-wrapper hero-style-1 hero-style-2">
            <div class="hero-slider">
                <div class="slide">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-6 col-sm-8 slide-caption">
                                <div class="slide-title">
                                    <h2>Best Animal Hospital in China</h2>
                                </div>
                                <div class="slide-subtitle">
                                    <p>Redefining the dignity and value of every little life for the purpose of protecting the health of love and affection</p>
                                </div>
                                <div class="btns">
                                    <a href="{{ url_for('about') }}" class="theme-btn">Learn More</a>
                                </div>
                                <div class="slider-pic">
                                    <img src="{{url_for('static',filename='images/slider/cat.png')}}" alt>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-6 col-sm-8 slide-caption">
                                <div class="slide-title">
                                    <h2>It's reassuring because it's rigorous</h2>
                                </div>
                                <div class="slide-subtitle">
                                    <p>We are always looking for a way to get better medical protection for pets in China.</p>
                                </div>
                                <div class="btns">
                                    <a href="{{url_for('about')}}" class="theme-btn">Learn More</a>
                                </div>
                                <div class="slider-pic slider-pic-2">
                                    <img src="{{ url_for('static',filename='images/slider/dog.png') }}" alt>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- end of hero slider -->

    <!-- start about-section -->
    <section class="about-section-s2">
            <div class="content-area">
                <div class="left-content">
                    <img src="{{ url_for('static',filename='images/about_us.png') }}" alt>
                </div>
                <div class="right-content">
                    <div class="about-content">
                        <div class="section-title-s2">
                            <span>About us</span>
                            <h2></h2>
                        </div>
                        <div class="details">
                            <p>Long term commitment to promote the development of China's pet medical industry, in line with the purpose of "being rigorous, so reassured" and "family like care",
                                the service will be intimate and professional, to provide pet with humanized, high-quality health service experience</p>
                            <div class="dots-section">
                                <span>With more than 2 million registered pet owners and businesses covering multiple cities</span>
                                <span>It has become a famous brand of Internet pet medicine.</span>
                                <span>It is a long established fact </span>
                            </div>
                            <a href="{{ url_for('about') }}" class="theme-btn">More About Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ab-svg_color">
                <svg x="0px" y="0px"
                  viewBox="0 0 1920 289" enable-background="new 0 0 1920 289" xml:space="preserve">
                <path fill="#f8f8f8" d="M959,169C582.541,169,240.253,104.804-14.125,0H0v289h1920V0h12.125C1677.747,104.804,1335.459,169,959,169
                    z"/>
               </svg>
            </div>
        </section>
    <!-- end about-section -->

    <!--service-area start -->
    <div class="service-area bg-animate-shape ptb-100-70">
            <div class="ab-color_svg ab-svg_color">
                <svg x="0px" y="0px"
                viewBox="0 0 1920 289" enable-background="new 0 0 1920 289" xml:space="preserve">
                <path fill="#fff" d="M959,169C582.541,169,240.253,104.804-14.125,0H0v289h1920V0h12.125C1677.747,104.804,1335.459,169,959,169
                    z"/>
               </svg>
            </div>
            <div class="container">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <h2>Our Best Services</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="service-section">
                                <div class="services-wrapper">
                                    <div class="services-icon-wrapper">
                                        <i class="fi flaticon-chart"></i>
                                    </div>
                                    <div class="service-content">
                                        <h2>Soft Tissue Surgery</h2>
                                        <p> We have many experts who are mature in soft tissue surgery.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="service-section">
                                <div class="services-wrapper">
                                    <div class="services-icon-wrapper">
                                        <i class="fi flaticon-computer"></i>
                                    </div>
                                    <div class="service-content">
                                        <h2>Orthopaedics</h2>
                                        <p> We have rich experience in bone surgery, providing perfect services.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="service-section">
                                <div class="services-wrapper">
                                    <div class="services-icon-wrapper">
                                        <i class="fi flaticon-money"></i>
                                    </div>
                                    <div class="service-content">
                                        <h2>Internal Medicine</h2>
                                        <p>We have become a referral center hospital in internal medicine.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="service-section">
                                <div class="services-wrapper">
                                    <div class="services-icon-wrapper">
                                        <i class="fi flaticon-objective"></i>
                                    </div>
                                    <div class="service-content">
                                        <h2>Cardiology Department</h2>
                                        <p> We have a professional heart disease medical team to provide accurate diagnosis for pets</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="service-section">
                                <div class="services-wrapper">
                                    <div class="services-icon-wrapper">
                                        <i class="fi flaticon-bullhorn"></i>
                                    </div>
                                    <div class="service-content">
                                        <h2>Geriatrics Department</h2>
                                        <p>We have many years of clinical experience, advanced diagnosis and treatment to protect pet's health.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="service-section">
                                <div class="services-wrapper">
                                    <div class="services-icon-wrapper">
                                        <i class="fi flaticon-startup"></i>
                                    </div>
                                    <div class="service-content">
                                        <h2>Dermatological</h2>
                                        <p>Our medical professional doctors accurately make treatment plans for pets to restore health.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <!--end service-area-->

     <!-- counter-area start -->
    <div class="counter-area">
            <div class="ab-color_svg ab-svg_color-m">
                <svg x="0px" y="0px"
                viewBox="0 0 1920 289" enable-background="new 0 0 1920 289" xml:space="preserve">
                <path fill="#fff" d="M959,169C582.541,169,240.253,104.804-14.125,0H0v289h1920V0h12.125C1677.747,104.804,1335.459,169,959,169
                    z"/>
               </svg>
           </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="counter-grids">
                            <div class="grid">
                                <div>
                                    <h2><span class="odometer" data-count="799">00</span>+</h2>
                                </div>
                                <p>Doctors</p>
                            </div>
                            <div class="grid grid-2">
                                <div>
                                    <h2><span class="odometer" data-count="180">00</span>W+</h2>
                                </div>
                                <p>Clinical Cases</p>
                            </div>
                            <div class="grid grid-4">
                                <div>
                                    <h2><span class="odometer" data-count="30000">00</span>+</h2>
                                </div>
                                <p>Customer Letter</p>
                            </div>
                            <div class="grid grid-3">
                                <div>
                                    <h2><span class="odometer" data-count="399">00</span>W+</h2>
                                </div>
                                <p>Rehabilitation Cases</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- counter-area end -->

    <!-- testimonial-area start -->
    <div class="testimonial-area">
            <div class="ab-color_svg ab-svg_color-m">
                <svg x="0px" y="0px"
                viewBox="0 0 1920 289" enable-background="new 0 0 1920 289" xml:space="preserve">
                <path fill="#fff" d="M959,169C582.541,169,240.253,104.804-14.125,0H0v289h1920V0h12.125C1677.747,104.804,1335.459,169,959,169
                    z"/>
               </svg>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="section-title">
                            <span>Who we are</span>
                            <h2>Our Experts</h2>
                        </div>
                    </div>
                </div>
                <div class="testimonial-active owl-carousel">
                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <div class="testimonial-content">
                                <p>He has been engaged in teaching and scientific research of veterinary surgery for 43 years. He is an important founder of clinical diagnosis and treatment of small animals in China.</p>
                            </div>
                            <div class="testimonial-sub">
                                <div class="testimonial-img">
                                    <img src="{{ url_for('static',filename='images/testimonials/houjiafa.jpg') }}" alt="">
                                </div>
                                <div class="testimonial-tumb-content">
                                    <h4>Hou JiaFa</h4>
                                    <span>Chief expert of medical technology committee</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <div class="testimonial-content">
                                <p>President Xu Guoxing has helped countless paralyzed animals to stand up and run again. In China, the development of small animal neurosurgery has opened up a new field.</p>
                            </div>
                            <div class="testimonial-sub">
                                <div class="testimonial-img">
                                    <img src="{{ url_for('static',filename='images/testimonials/xuguoxing.jpg') }}" alt="">
                                </div>
                                <div class="testimonial-tumb-content">
                                    <h4>Xu Guoxing</h4>
                                    <span>Member of Technical Committee</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <div class="testimonial-content">
                                <p>One of the outstanding representatives of China's animal doctors. In 2015, Dr. Pei Zengyang founded paisid animal hospital in Hangzhou, and gathered a group of excellent young animal doctors</p>
                            </div>
                            <div class="testimonial-sub">
                                <div class="testimonial-img">
                                    <img src="{{ url_for('static',filename='images/testimonials/peizengyang.jpg') }}" alt="">
                                </div>
                                <div class="testimonial-tumb-content">
                                    <h4>Pei Zengyang</h4>
                                    <span>Chief expert of medical technology committee</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- testimonial-area end -->


{% endblock %}