<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HP Reference</title>
</head>
<body>
    <h1>We Get Some Online Tutorials From:</h1>
    <ul>
        <li>http://docs.jinkan.org/docs/flask/</li>
        <li>http://www.jq22.com/jquery-info8672</li>
        <li>http://www.jq22.com/jquery-info22709</li>
        <li>https://pythonhosted.org/Flask-Bootstrap/</li>
        <li>https://juejin.im/post/5b4b267f6fb9a04fd93e23ea</li>
        <li>https://flask-wtf.readthedocs.io/en/stable/</li>
        <li>https://www.yiibai.com/flask/flask_wtf.html</li>
        <li>https://www.jianshu.com/p/7</li>
        <li>https://www.cnblogs.com/wdliu/p/10183645.html</li>
        <li>https://juejin.im/post/5cc7f949f265da038a1483a2</li>
        <li>http://litaotju.github.io/flask/2016/06/22/Learning-Flask-session/</li>
        <li>https://github.com/Justson/AgentWeb</li>
        <li>https://intellij-support.jetbrains.com/hc/en-us/community/posts/360004045759-Can-t-select-application-class-for-JavaFX-artifact</li>
        <li>https://juejin.im/post/5bd6af7451882526254942d5</li>
        <li>https://zhuanlan.zhihu.com/p/67004839</li>
        <li>https://www.cnblogs.com/qingmiaokeji/p/10893889.html</li>
        <li>https://segmentfault.com/a/1190000019482555</li>
        <li>https://www.w3cschool.cn/java/javafx-webengine.html</li>
        <li>https://zzzmh.cn/single?id=96</li>

        <br>......</br>
    </ul>
    <h1>Thanks For Help From Above Online Tutorials</h1>
</body>
</html>