{% extends 'staff_base.html' %}
{% block staff_name%}
    工作人员名称: {{ username }}
{% endblock %}
{% block navbar %}
    <li>
        <a href="{{ url_for('staff_ch') }}"><i class="fa fa-th-large"></i> <span class="nav-label">主页</span></a>
    </li>
    <li>
        <a href="{{ url_for('mailbox') }}"><i class="fa fa-envelope"></i> <span class="nav-label">邮件</span></a>
    </li>
{% endblock %}
{% macro appointment(year,month,date,symptom,state) %}
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-section" >
            <div class="services-wrapper">
                <div class="contact-details">
                    日期: <b>{{ year }}/{{ month }}/{{ date }}</b>
                    <br>
                    症状: <b>{{ symptom }}</b>
                    <br>
                    <b>{{ state }}</b>
                    <br>
                </div>
            </div>
        </div>

    </div>
{% endmacro %}

{% block mainContent %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>宠物信息<small></small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="modal-body">
                            <form method="get" class="form-horizontal">
                                <div class="form-group"><label class="col-sm-2 control-label">ID</label>
                                    <div class="col-sm-10"><input type="text" class="form-control"
                                                                  disabled=""
                                                                  placeholder="{{ id }}"></div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group"><label class="col-sm-2 control-label">顾客姓名</label>
                                    <div class="col-sm-10"><input type="text" class="form-control"
                                                                  disabled=""
                                                                  placeholder="{{ customer_name }}"></div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group"><label class="col-sm-2 control-label">宠物名</label>
                                    <div class="col-sm-10"><input type="text" class="form-control"
                                                                  disabled=""
                                                                  placeholder="{{ pet_name }}">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group"><label class="col-sm-2 control-label">宠物类型</label>
                                    <div class="col-sm-10"><input type="text" class="form-control"
                                                                  disabled=""
                                                                  placeholder="{{ type }}">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group"><label class="col-sm-2 control-label">宠物年龄</label>
                                    <div class="col-sm-10"><input type="text" class="form-control"
                                                                  disabled=""
                                                                  placeholder="{{ age }}">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group"><label class="col-sm-2 control-label">宠物品种</label>
                                    <div class="col-sm-10"><input type="text" class="form-control"
                                                                  disabled=""
                                                                  placeholder="{{ breed }}">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>预约历史<small></small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="modal-body">
                            {% for app in aapps %}
                                {{ appointment(app.year,app.month,app.date,app.symptom,app.state) }}
                            {% endfor %}
                            <div class="clearfloat"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        .ibox-content {
            color: inherit;
        }
        body {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-size: 1rem;
            color: #6c6c6c;
        }
        body {
            font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 13px;
            color: #676a6c;
        }
        html {
            font-size: 16px;
        }
        .service-section .services-wrapper {
            text-Align: center;
            margin-bottom: 30px;
            background: #fff;
            padding: 45px 45px 22px;
            text-Align: center;
            box-shadow: 0px 8px 17px 3px rgba(0, 0, 0, 0.06);
        }
        .clearfloat{clear:both;height:0;font-size: 1px;line-height: 0px;}
    </style>

{% endblock %}
